body{
    background-color: antiquewhite;

}
.header{
    position: relative;
    height:80px;
}
.brand_logo{
    position:relative;
    width:150px;
    height:60px;
}
.brand_name{
    position:relative;
    padding-top: 10px;
    padding-left: 10px;
    width:400px;
    height:60px;
}
.header_logo{
    float:left;
    width:730px;
}
.header_nav{
    position: relative;
    float:right;
}
.button_class{
    border-radius: 20px;
}
.icon_class{
    width: 24px;
    height: 24px;
    padding-left: 6px;
}
.selection_menu{
    padding-top:20px;
    padding-left: 500px;
}
.content_class{
    position: relative;
    padding-left: 80px;
    padding-top: 30px;
}
.option1{
    width: 400px;
    height: 315px;
    padding-left: 70px;
}
.option2{
    width:219px;
    height:315px;
    padding-left: 10px;
    padding-right: 10px;
}
.option3{
    width: 400px;
    height: 315px;
}
.footer{
    position: relative;
    padding-top: 18px;
}
.footer_headings{
    padding-left: 30px;
}
.list_class{
    list-style-type: circle;
}
.help_menu{
    float:left;
    padding-left: 200px;
    width:15%;
}
.policies_menu{
    float:left;
    width:20%;
}
.aboutus_menu{
    float:left;
    width:20%;
}
.followus_images{
    float:left;
    width:15%;
}
a:hover{
    color:hotpink;
}
a:link{
    color:blue;
}